<template>
<div class="w-full max-w-md mx-auto">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" @submit.prevent>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Username
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username" v-model="form.name" :class="{'border-red-500': $page.props.errors.name}">
        <p class="text-red-500 text-xs italic" v-if="form.errors.name" v-html="form.errors.name"></p>
    </div>
      <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="email" placeholder="Email" v-model="form.email" :class="{'border-red-500': $page.props.errors.email}">
            <p class="text-red-500 text-xs italic" v-if="form.errors.email" v-html="form.errors.email"></p>
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Password" v-model="form.password" :class="{'border-red-500': $page.props.errors.password}">
      <p class="text-red-500 text-xs italic" v-if="form.errors.password" v-html="form.errors.password"></p>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" :disabled="form.processing" type="submit" @click="onSubmit()">
        Create User
      </button>

    </div>
  </form>
  <p class="text-center text-gray-500 text-xs">
    &copy;2020 Pheak Minute. All rights reserved.
  </p>
</div>
</template>

<script setup>
import { Inertia } from "@inertiajs/inertia";
import { useForm } from "@inertiajs/inertia-vue3";
import { reactive } from "vue";


let form = useForm({
    name: '',
    email: '',
    password: ''
})
const onSubmit = () => {
    form.post("/user",form,{
        onSuccess: () => form.reset()
    })

}
</script>

<style scoped>

</style>
