<template>
setting Page
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3';
import Nav from '../components/Nav.vue';
import Layout from '../Layouts/Layout.vue';
    export default {
        name: "Setting",
        components: {
    Link,
    Nav,
    Layout
}
    }
</script>

<style scoped>

</style>
