<template>
<div>
<div class="flex justify-between">
    <h3>User</h3>
    <input type="search" placeholder="Search ..." class="border px-2 py-3 rounded-lg" v-model="search">
</div>
<div>
       <Link href="/create-user" class="bg-blue-500 text-white rounded-lg p-2 my-5">Create User</Link>
</div>
<div class="overflow-x-auto relative mb-2">

    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    No
                </th>
                <th scope="col" class="py-3 px-6">
                  Username
                </th>
                <th scope="col" class="py-3 px-6">
                  Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" v-for="user in users.data" :key="user.id">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{user.id}}
                </th>
                <td class="py-4 px-6">
                    {{user.name}}
                </td>
                <td class="py-4 px-6 space-x-5">
                    <Link :href="'/user/' + user.id + '/edit'" class="bg-blue-500 text-white p-2 ">Edit</Link>
                       <button @click="onRemove(user.id)" class="bg-red-500 text-white p-2 ">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- pagination  -->
<div class="mt-6">
   <!-- <template  v-for="link in users.links">
     <Link :href="link.url" v-html="link.label" v-if="link.url"/>
     <span v-else v-html="link.label">

     </span>
   </template> -->
<Pagination :links="users.links"/>
</div>
</div>
</template>

<script setup>
import { Link, useForm } from '@inertiajs/inertia-vue3';
import Nav from '../components/Nav.vue';
import Layout from '../Layouts/Layout.vue';
import { Inertia } from '@inertiajs/inertia';
import Pagination from '../components/Pagination.vue';
import { ref, watch } from 'vue';
import debounce from 'lodash/debounce'
let props =defineProps({
    users:Array,
    filters: Object
})
let search = ref(props.filters.search);
watch(search, debounce(function (value) {
    Inertia.get("/user",{search: value},{preserveState: true,replace:true})
},300))
let form = useForm({})
const onRemove = id => {
   form.get(`/remove-user/${id}`)
}

</script>

<style scoped>

</style>
