<template>
<Head>
   <title>

   </title>
</Head>
Home Page


</template>

<script>
import { Head } from '@inertiajs/inertia-vue3';
import Layout from '../Layouts/Layout.vue';
    export default {
        layout: Layout,
        name: "Welcome",
        props: {
            name: {
                type: String
            },
            framwork: {
                type: Array
            },
        username: {
            type: String
        }
        },
        components: {
Head
}
    }
</script>

<style scoped>

</style>
