<template>
    <nav>
        <ul class="flex space-x-5">
            <li>
                <NavLink href="/" :active="$page.component ===  'Welcome'">Home</NavLink>
            </li>
            <li>
              <NavLink href="/user" :active="$page.component ===  'User'">User</NavLink>
            </li>
            <li>
                <NavLink href="/setting" :active="$page.component === 'Setting'">Setting</NavLink>
            </li>
             <li>
                <NavLink href="/logout" method="POST">Logout</NavLink>
            </li>
        </ul>
    </nav>
</template>

<script>
// import { Link } from '@inertiajs/inertia-vue3';
import NavLink from './NavLink.vue';
export default {
components: {
    // Link,
    NavLink,
}
};
</script>

<style scoped></style>
