<template>
     <Link class="text-blue-600 pr-2 hover:underline" :class="{'font-bold underline' : active}">
     <slot></slot>
     </Link>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3';
    export default {
        props: {
            active: {
                type: Boolean
            }
        },
        components: {
            Link
        }
    }
</script>

<style scoped>

</style>
