<template>
   <component :is="link.url ? 'Link' : 'span'" v-for="link in links" :href="link.url" v-html="link.label" class="px-4" :class="link.url ? '' : 'text-gray-500'">

   </component>
</template>

<script>
    export default {
        props: {
            links: {
                type: Array
            }
        }
    }
</script>

<style scoped>

</style>
