<template>
<section class="bg-gray-200 p-6">
    <header class="flex justify-between">
        <div class="flex items-center">
                <h1 class="font-bold text-xl">My APP</h1>
    <p class="text-sm ml-4">Hey, {{username}}</p>
        </div>
    <Nav/>

</header>
</section>

<section class="p-6">
    <input value="app"/>
      <slot/>
</section>
</template>

<script>
import Nav from '../components/Nav.vue'
    export default {
  components: { Nav },
        name: 'Layout',
        computed: {
            username () {
                return this.$page.props.auth.username
            }
        }

    }
</script>

<style scoped>

</style>
